.large {
  font-size: 2em;
}
.text-muted {
  color: #9fadbb;
}
.no-padding {
  padding: 0; margin: 0;
}

.glyphicon-xl {
  font-size: 6em;
}

.glyphicon-l {
  font-size: 3em;
}

.glyphicon-m {
  font-size: 1.5em;
}

.glyphicon-s {
  font-size: 0.75em;
}
.panel-default .panel-heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #5f6468;
}

.panel-footer {
  background: #fff;
  border-top: 1px solid #eee;
}

.panel-widget {
  padding: 0;
  position: relative;
}

.panel-widget .panel-footer {
  border: 0;
  text-align: center;
}

.panel-footer .input-group {
  padding: 0px;
  margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn, 
.panel-footer .input-group-btn:last-child>.btn-group {
  margin: 0;
}

.panel-widget .panel-footer a {
  color: #999;
}

.panel-widget .panel-footer a:hover {
  color: #666;
  text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p { 
  color: #fff; 
  color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted { 
  color: rgba(255, 255, 255, .5); 
}

.dark-overlay {
  background: rgba(0, 0, 0, .05);
  text-align: center;
}

.widget-left {
  height: 80px;
  padding-top: 15px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.widget-right {
  text-align: left;
  line-height: 1.6em;
  margin: 0px;
  padding: 20px;
  height: 80px;
  color: #999;
  font-weight: 300;
  background: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
  .widget-right {
  width: 100%;
  margin: 0;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  }
}

@media (max-width: 768px) {
  .widget-left {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  }
}
.widget-right .text-muted {
  color: #9fadbb;
}
.widget-right .large {
  color: #5f6468;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
.panel-teal .widget-left { background: #1ebfae; color: #fff; }
.panel-orange .widget-left { background: #ffb53e; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }

.panel-widget {
  background: #fff;
}